<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="footer-heading">יצירת קשר</h4>

        <div class="contact-links">
          {% for contact in site.footer.contact %}
          <div class="contact-link">
            <i class="{{ contact.icon }}"></i>
            <a href="{{ contact.link }}" id="contact-link-link">
              {{ contact.value }}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
