/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  padding-top: 10px;
  padding-bottom: 10px;

  @include media-query($on-mobile) {
    padding-top: 0;
    padding-bottom: 0;
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 30px;
  line-height: 56px;
  letter-spacing: -1px;
  float: right;
  text-decoration: none;
  vertical-align: bottom;

  img {
    height: 38px;
    margin-top: -10px;
  }

  &,
  &:visited,
  &:hover {
    color: $grey-color-dark;
    text-decoration: none;
  }

  .site-title-logo {
    font-size: 40px;
  }

  .site-title-title {
    font-family: $base-secondary-font-family;
  }

  .site-title-subtitle {
    font-size: 16px;
    padding-right: 6px;
    font-family: sans-serif;
  }
}

/**
 * Site nav
 */
.site-nav {
  z-index: 10;
  float: left;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-mobile) {
    position: absolute;
    top: 12px;
    left: 24px;

    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: left;

    .menu-icon {
      display: block;
      float: left;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 4px;
      text-align: center;

      background: #ffffff url($base-url + '/assets/img/menu.png') 6px 4px no-repeat;
      background-size: 26px 26px;
    }

    .menu {
      clear: both;
      display: none;
      background-color: #ffffff;
      min-width: 10em;
      padding-bottom: 5px;
    }

    .page-link {
      font-size: 16px;
      display: block;
      padding: 6px 16px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  @include media-query($on-mobile) {
    padding-top: 10px;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list {
  list-style: none;
  margin-right: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-right: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: right;
  margin-bottom: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width: calc(33% - (#{$spacing-unit} / 2));
}

.follow-links > .social-link {
  flex: 0 50%;
}

.powered-by {
  font-size: 13px !important;
  color: $grey-color;
}

@include media-query($on-mobile) {
  .footer-col {
    float: none;
    width: 100%;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}
