.profile-pic {
  float: left;
  width: 300px;
  border: #ccc 1px solid;

  @include media-query($on-mobile) {
    float: none;
  }
}

.gform {
  input, textarea {
    width: 100%
  }

  fieldset {
    border: none;
    margin: 0px;
    padding: 0;
  }

  button {
    float: left;
  }
}