---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Pallette
// #EC5858, #FD8C04, #EDF285, #93ABD3

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=David Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank Ruhl Libre&display=swap');

// Our variables
$base-url: "{{ site.baseurl }}";

$base-font-family: David Libre, serif;
$base-secondary-font-family: Frank Ruhl Libre, Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #FD8C04;
$brand-color-2: #EC5858;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$on-mobile: 45em;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "grid", "site", "404";
